/*Header Intro Styling*/

.demoIntro {
	padding: 10px; 
}

.demoIntro h1 {
	font-size: 18px;
	text-transform: uppercase;
	letter-spacing: .1em;
	border-bottom: 1px solid #D9F0F7;
}

#tabs{
	width: 98%;
	margin: 0 auto;
}

#account_div, #assets_div, #symbols_div, #lots_div{
	margin-top: 5px;
}

#account_div h1, #assets_div h1, #symbols_div h1, #lots_div h1, #settings_div h1 {
	font-size: 24px;
	border: none;
}

#account_div h2 {
	font-size: 18px;
}

/*account info tab*/

#account_div table,{
	margin-bottom: 20px;
	border: none;
}

#summary_table, #account_status_table, #assets_div table, #lots_div table, #settings_table{
	margin-bottom: 20px;
	border: 4px solid #95cdd6;
}

#account_div table tbody, #assets_div table tbody, #settings_table tbody{
	text-align: left;
}

#summary_table, #account_status_table td{
	border-left: 4px solid #95cdd6;
}

#summary_table td:first-child{
	border-left: none;
}

#summary_table th, #account_status_table th, #assets_div table th, #symbols_table table th, #assets_div table td, #symbols_table td, #lots_div td, #settings_table td{
	padding: 3px 8px;
	border-left: none;
	border-top: none;
	border-right: 4px solid #95cdd6;
}

#summary_table tr:nth-child(odd), #account_status_table tr:nth-child(odd), #assets_div table tr:nth-child(odd), #symbols_table tr.odd, #lots_div table tr:nth-child(odd), #settings_table tr:nth-child(odd){
	background: #C1EBF2;
}

#account_div h2{
	border: none;
}

#account_div td{ padding-left: 8px; }

/*assets table tab*/

#summary_table tbody tr:first-child, #account_status_table tbody tr:first-child, #symbols_table thead tr:first-child, #symbols_table thead th, #lots_div thead th, #settings_table thead th {
	background-color: #95cdd6;
	font-weight: normal;
	padding: 3px 8px;
	border-top: none;
	border-right: 4px solid #95cdd6;
}

#assets_table tr:hover {
	
}

#assets_table th {
	padding-right: 10px;
}

/*symbols table tab*/

#symbols_table {
	border-bottom: 4px solid #95cdd6;
	border-top: 4px solid #95cdd6;
	border-left: 4px solid #95cdd6;
}

#symbols_table thead tr:first-child, #assets_table thead tr:first-child{
	text-align: left;
}

#symbols_table thead th.sorting_desc, #symbols_table thead th.sorting_asc, #lots_div thead th.sorting_desc, #lots_div thead th.sorting_asc{
	background-color: #C1E3E9;
}

tr.odd td.sorting_1{
	background-color:#DCF6FA;
}
tr.even td.sorting_1{
	background-color:#EFFAFC;
}